@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(black, #220);
    color: white;
    scroll-behavior: smooth;
}
body {
    animation-name: fade;
    animation-duration: 1s;
}
table {
    border-collapse: collapse;
    margin: auto;
    width: 75%;
}
th, td {
    width: 25%;
    border: 2px solid white;
    padding: 4px;
}
.blue {
    color: dodgerblue;
}
.red {
    color: crimson;
}
.yellow {
    color: gold;
}
.green {
    color: springgreen;
}
.orange {
    color: orangered;
}
.purple {
    color: mediumorchid;
}
#reflection {
    width: 75%;
    margin: auto;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
a {
    color: white;
}