@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap');
html {
    text-align: center;
    font-family: 'Noto Sans Math', sans-serif;
    background-color: black;
    color: white;
}
table {
    border-collapse: collapse;
    margin: auto;
    width: 75%;
}
th, td {
    width: 25%;
    border: 2px solid white;
    padding: 4px;
}
.blue {
    color: dodgerblue;
}
.red {
    color: crimson;
}
.yellow {
    color: gold;
}
.green {
    color: springgreen;
}
.orange {
    color: orangered;
}
.purple {
    color: mediumorchid;
}
#reflection {
    width: 75%;
    margin: auto;
}